* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v1_15 {
  width: 390px;
  height: 81px;
  background: url("../images/v1_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_16 {
  width: 390px;
  height: 81px;
  background: url("../images/v1_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_17 {
  width: 74px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 2px;
  left: 7px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
